.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.validate-input {
    padding: 5px;
    border: 2px solid saddlebrown;
    border-radius: 5px;
    width: 100%;
}

.validate-btn {
    display: block;
    margin: 5px;
    min-width: 20px;
    min-height: 20px;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}