/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #17A2B8;
}

.double-range-wrapper {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

.new-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.new-form-validate {
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.init-swipper {
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.new-tabs {
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
